.productContainer {
    padding-top: 64px;
    padding-bottom: 64px;
}

.productInfo {
    display: flex;
    gap: 24px;
}

.imageWrapper {
    width: 40%;
}

.infoWrapper {
    width: 60%;
}

.productInfoMob {
    display: none;
}

@media (max-width: 900px) {
    .productInfo {
        display: none;
    }
    .productInfoMob {
        display: block;
    }
    .productInfoMobTitle {
        font-size: 1.5rem;
        font-weight: 600;
        color: #111111;
        padding-bottom: 1rem;
    }
}