.formWrapper {
    width: 60%;
    & input:-webkit-autofill {
        background-color: white;
        box-shadow: 0 0 0px 1000px white inset;
        -webkit-text-fill-color: black;
      }
}

.orderWrapper {
    width: 40%;
}



