.order {
    display: flex;
    gap: 1.25rem;
}

.formWrapper {
    width: 60%;
    & input:-webkit-autofill {
        background-color: white;
        box-shadow: 0 0 0px 1000px white inset;
        -webkit-text-fill-color: black;
      }
}

.orderWrapper {
    width: 40%;
}

@media (max-width: 900px) {
    .order {
        flex-direction: column;
        gap: 2rem;
    }
    .formWrapper {
        width: 100%;
    }
    .orderWrapper {
        width: 100%;
    }
}



