.input {
    padding: 9px 0 9px 16px;
    width: 100%;
    background-color: #FDF5ED;
    border-radius: 4px;
}

.input:focus {
    background-color: #73270D1F;
    outline: none;
}

.inputError, .inputError:focus {
    outline: 1px solid #E60606;
    color: #E60606;
}

.inputWrapper {
    position: relative;
}

.label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 8px;
}
.iconWrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    & svg {
        height: 16px;
        width: 16px;
    }
} 

.error {
    color: #E60606;
    font-weight: 400;
    font-size: 12px;
    padding: 8px 16px;
}

