.head {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
}

.body {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
}

.tableWrapper {
    padding: 1rem;
    border: 1px solid #A3A3A3;
    border-radius: 0.5rem;
}