.orderStatusWrapper {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.accept {
    background-color: rgba(119, 219, 123, 0.27);
    color: #0E402D;
}

.status {
    font-size: 1rem;
    font-weight: 500;
    color: inherit;
}
.canceled {
    background-color: red;
}
.processing {
    background-color: #FDF5ED;
}
.sent {
    background-color: yellow;
}
.received {
    background-color: lightblue;
}